html, body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-family: 'Raleway';
  font-weight: 400;
  line-height: 24px;
  color: #191919; }

a:hover, a:focus {
  text-decoration: none;
  outline: 0px; }

.button {
  color: #ffffff;
  background-color: #00acec;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 1px solid #00acec;
  font-weight: 700;
  border-radius: 4px; }
  .button:hover, .button:focus {
    text-decoration: none;
    outline: 0px;
    color: white;
    background: #027EAC;
    border-color: #027EAC; }

.section_header {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 24px;
  display: inline-block;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 42px; }
  .section_header:after {
    margin: 25px auto;
    display: block;
    width: 85px;
    border-bottom: 1px solid;
    text-align: center;
    content: ''; }

.thin-header {
  color: #1a1a1a;
  font-size: 40px;
  font-weight: 300;
  font-family: 'Lato';
  line-height: 50px;
  text-transform: none;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 30px; }

.section_h3 {
  font-size: 18px;
  font-weight: 300;
  text-transform: capitalize !important;
  padding: 0;
  margin: 0;
  color: #121212;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 110px;
  text-align: center;
  padding-right: 120px;
  padding-left: 120px; }

.menu-section {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: auto;
  width: 100%;
  background: white;
  padding: 15px 0px;
  z-index: 999; }
  .menu-section .container {
    position: relative; }
    .menu-section .container .menu .fa-bars {
      display: none;
      font-size: 30px;
      float: right;
      margin-top: 10px;
      color: #00acec; }
    .menu-section .container .menu img {
      padding: 10px 0; }
    .menu-section .container .menu ul {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%); }
      .menu-section .container .menu ul li {
        cursor: pointer;
        margin-left: 40px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 15px 0;
        font-size: 14px;
        font-family: 'Lato';
        font-weight: 400;
        line-height: 24px;
        color: #808080; }

.slider-section {
  margin-top: 80px; }
  .slider-section .container-fluid .row .slider .one-slide .item {
    position: relative; }
  .slider-section .container-fluid .row .slider .one-slide .slider-content {
    position: absolute;
    top: 30%; }
    .slider-section .container-fluid .row .slider .one-slide .slider-content h2 {
      padding-bottom: 20px;
      font-family: 'Lato';
      font-size: 16px;
      font-weight: 700;
      line-height: 42px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #333;
      margin-top: 0;
      margin-bottom: 45px;
      display: inline-block; }
      .slider-section .container-fluid .row .slider .one-slide .slider-content h2:after {
        height: 1px;
        display: block;
        width: 30%;
        background: black;
        content: ''; }
    .slider-section .container-fluid .row .slider .one-slide .slider-content h3 {
      font-size: 72px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 80px;
      color: #333;
      margin-top: 0;
      margin-bottom: 60px; }
  .slider-section .container-fluid .row .slider .owl-dots {
    position: absolute !important;
    right: 0px !important;
    top: 50% !important;
    transform: translateY(-77%) rotateZ(90deg); }
    .slider-section .container-fluid .row .slider .owl-dots .owl-dot:focus {
      outline: 0px !important; }
    .slider-section .container-fluid .row .slider .owl-dots .owl-dot:hover span {
      background: #00acec !important; }
    .slider-section .container-fluid .row .slider .owl-dots button span {
      border-radius: 100%;
      border: 5px solid grey;
      box-sizing: unset; }
      .slider-section .container-fluid .row .slider .owl-dots button span:hover {
        background: #00acec !important; }
  .slider-section .container-fluid .row .slider .active span {
    background: #00acec !important; }

.what_are_we {
  padding-top: 120px;
  padding-bottom: 90px; }
  .what_are_we h2, .what_are_we h3, .what_are_we i, .what_are_we .headers, .what_are_we p, .what_are_we .fa-dashboard, .what_are_we .fa-rocket, .what_are_we .fa-trophy {
    text-align: center;
    width: 100%; }
  .what_are_we .fa-dashboard, .what_are_we .fa-rocket, .what_are_we .fa-trophy {
    font-size: 48px; }
  .what_are_we .fa-trophy {
    color: #4b0049; }
  .what_are_we .fa-rocket {
    color: #f7941d; }
  .what_are_we .fa-dashboard {
    color: #00aeef; }
  .what_are_we .headers {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 10px;
    color: #444;
    margin: 25px 0; }
  .what_are_we p {
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 400;
    margin-bottom: 25px;
    color: rgba(86, 86, 86, 0.8);
    padding: 0; }

.about-me {
  background: #f7f7f7;
  padding: 120px 0px; }
  .about-me em, .about-me p {
    margin: 0 0 10px;
    padding-right: 100px; }
  .about-me p {
    padding-top: 10px;
    margin-bottom: 67px; }
  .about-me img {
    padding-right: 70px; }

.services-section {
  padding-top: 120px;
  padding-bottom: 90px; }
  .services-section .margin {
    margin-bottom: 50px; }
  .services-section i {
    color: #404040;
    font-size: 36px;
    margin-top: -7px; }
  .services-section .headers {
    color: #404040;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 5px;
    line-height: 24px; }
  .services-section .content {
    color: #646464;
    font-weight: 400;
    margin-bottom: 25px;
    padding: 0; }

.counter_section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(../img/counter.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .counter_section .counter, .counter_section .counter-txt {
    text-align: center;
    width: 100%;
    color: white; }
  .counter_section .counter {
    color: #ffffff;
    font-family: "Lato";
    font-size: 72px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 45px;
    line-height: 40px; }
  .counter_section h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-family: 'Lato';
    font-weight: 700;
    line-height: 26px; }

.works {
  padding-top: 120px; }
  .works a {
    overflow: hidden;
    text-decoration: none;
    width: 25%;
    float: left;
    position: relative; }
    .works a:hover i {
      opacity: 1;
      color: #00acec;
      top: 50%; }
    .works a:hover .type {
      opacity: 1;
      bottom: 0; }
    .works a img {
      width: 100%;
      height: 330px;
      float: left; }
    .works a .type {
      position: absolute;
      background: #00acec;
      width: 100%;
      text-transform: uppercase;
      color: white;
      bottom: -20px;
      z-index: 1;
      opacity: 0;
      transition: .3s; }
    .works a h3 {
      padding: 19px;
      margin: 0; }
    .works a i {
      transition: .3s;
      font-size: 25px;
      position: absolute;
      z-index: 1;
      opacity: 0;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%); }
  .works .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: none; }
  .works .modal .modal_inner {
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .works .modal .modal_inner img {
    margin: auto; }
  .works .modal .modal_inner .close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer; }
  .works .modal .modal_inner .close:hover {
    opacity: 0.5; }
  .works .modal .modal_inner .left {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 42%;
    left: 5px;
    cursor: pointer; }
  .works .modal .modal_inner .right {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 42%;
    right: 5px;
    cursor: pointer; }

.works .modal .modal_inner img {
  margin: auto;
  width: 100%; }

.why-us {
  padding-top: 120px; }
  .why-us .content {
    font-size: 16px;
    padding-right: 40px;
    margin-bottom: 20px; }
  .why-us .type {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 0px;
    line-height: 28px;
    padding-top: 50px; }

.team {
  background: #f7f7f7;
  padding-top: 120px;
  padding-bottom: 200px; }
  .team .owl-dots .owl-dot:focus {
    outline: 0px !important; }
  .team .owl-dots button span {
    padding: 5px;
    box-sizing: unset; }
  .team .owl-dots .active span {
    background: black !important; }
  .team .item h3 {
    margin-bottom: 0px;
    cursor: pointer;
    transition: 0.3s; }
    .team .item h3 a {
      color: #333333; }
      .team .item h3 a:hover {
        color: #00acec; }
  .team .item img {
    position: relative; }
  .team .item .icons {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 84%;
    opacity: 0;
    transition: .3s; }
    .team .item .icons .center {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .3s; }
      .team .item .icons .center i {
        color: #fff;
        font-size: 16px;
        margin: 0 12px; }
  .team .item:hover .icons {
    background: #00acec;
    opacity: 0.7; }
    .team .item:hover .icons .center {
      top: 50%; }

.clients {
  margin-top: 120px;
  margin-bottom: 120px; }
  .clients img {
    width: 100%; }
  .clients .margin {
    margin-top: 80px; }
  .clients .clients-slide .owl-dots {
    display: none !important; }
  .clients .owl-next, .clients .owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px !important;
    color: #e1e1e1 !important; }
    .clients .owl-next:hover, .clients .owl-prev:hover {
      background: transparent !important;
      outline: 0px !important; }
  .clients .owl-next {
    right: 0px; }
  .clients .owl-prev {
    left: 0px; }
  .clients .item {
    position: relative; }
    .clients .item .content {
      text-align: center;
      width: 60%;
      margin: auto; }
      .clients .item .content div {
        margin-top: 50px;
        font-size: 21px;
        font-style: italic;
        font-weight: 400;
        line-height: 28px;
        font-family: 'Raleway';
        color: #999; }
      .clients .item .content h3 {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 18px;
        color: #000;
        text-transform: uppercase;
        font-family: 'Lato';
        font-weight: 700;
        line-height: 28px; }
      .clients .item .content img {
        width: 120px !important;
        display: inline-block;
        padding: auto;
        border-radius: 50%; }
      .clients .item .content .profession {
        margin-top: 0px;
        font-size: 14px;
        color: gray;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 35px; }
      .clients .item .content i {
        font-size: 30px;
        font-family: "FontAwesome";
        color: #00aeef;
        text-transform: uppercase; }

.get-start {
  background: url(../img/get-start.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px; }
  .get-start h2 {
    color: #ffffff;
    font-size: 48px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px;
    font-family: "Lato"; }
  .get-start div {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px; }
  .get-start .button {
    color: white;
    background: transparent;
    border-color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px 2px 2px 2px;
    padding: 15px 50px 15px 50px;
    transition: .3s; }
    .get-start .button:hover {
      background: #00acec;
      border-color: #00acec; }

input, textarea {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 4px; }

.contact {
  padding-top: 120px;
  padding-bottom: 120px; }
  .contact .inputs {
    width: 60%;
    margin: 0 auto; }
  .contact input {
    width: 46%; }
  .contact textarea {
    width: 95.5%; }
  .contact .button {
    margin-right: 20px;
    float: right; }

.map {
  position: relative; }
  .map iframe {
    width: 100%;
    height: 650px; }
  .map .contact-info {
    position: absolute;
    top: 18%;
    left: 15%;
    background: white;
    padding: 60px 70px;
    z-index: 1; }
    .map .contact-info .contact-map {
      padding: 20px inherit; }
      .map .contact-info .contact-map strong {
        text-transform: uppercase; }
        .map .contact-info .contact-map strong:after {
          margin: 5px 0;
          margin-bottom: 10px;
          display: block;
          width: 25px;
          border-bottom: 1px solid;
          text-align: left;
          content: ''; }

.footer-wrapper {
  padding-bottom: 80px;
  padding-top: 100px;
  background: #1f1f1f;
  text-align: center; }
  .footer-wrapper h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 80px; }
  .footer-wrapper input {
    width: 50%;
    background: #191919; }
  .footer-wrapper .input {
    width: 100%; }
  .footer-wrapper .button {
    width: 100%;
    padding: 15px 40px; }

.footer {
  background: #1f1f1f; }
  .footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: -30px; }
    .footer ul li {
      padding-bottom: 40px;
      padding-top: 40px;
      color: white; }
      .footer ul li i {
        padding: 10px;
        color: #00acec;
        cursor: pointer; }
  .footer .line {
    height: 1px;
    background: #474747 !important; }

@media only screen and (max-width: 991px) {
  .menu-section .menu .fa-bars {
    display: block !important; }
  .menu-section .menu ul {
    display: none;
    overflow: hidden;
    position: static !important;
    transform: translateY(0%) !important; }
    .menu-section .menu ul li {
      margin-left: -28px !important;
      display: block !important; }

  .section_h3 {
    padding-right: 12px;
    padding-left: 12px; }

  .services-section i {
    margin-left: -10px; }

  .works a {
    width: 33%; }
    .works a img {
      height: 280px; }

  .why-us .type {
    margin-top: -24px; }

  .contact .inputs {
    width: 93%; } }
@media only screen and (max-width: 780px) {
  .works a img {
    height: 242px; } }
@media only screen and (max-width: 600px) {
  .works a {
    width: 100%; }
    .works a img {
      height: 500px; }

  .contact input {
    width: 95.5%; }

  .footer ul {
    display: block;
    text-align: center; }
    .footer ul li {
      padding-bottom: 5px;
      padding-top: 5px; } }
@media only screen and (max-width: 407px) {
  .services-section .col-xs-11 {
    width: 79.66667% !important; }
  .services-section .col-xs-1 {
    padding-right: 39px !important; }

  .works a {
    width: 100%; }
    .works a img {
      height: 320px; }

  .thin-header {
    margin-top: 25px !important;
    line-height: 27px; } }

/*# sourceMappingURL=common.css.map */
