$menu_color:#808080;
$menu_active_color:#00acec;
$btn_hover:#027EAC;
$section_bk:#f7f7f7;

html, body{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: 24px;
    color: #191919;
}
a{
    &:hover, &:focus{
        text-decoration: none;
        outline: 0px;
    }
}
.button{
    color: #ffffff;
    background-color: $menu_active_color;
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 20px ;
    border: 1px solid $menu_active_color;  
    font-weight: 700;
    border-radius: 4px;
    &:hover, &:focus{
        text-decoration: none;
        outline: 0px;
        color: white;
        background: $btn_hover;
        border-color:$btn_hover; 
    }
}

.section_header{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 24px;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 42px;
    &:after{
        margin: 25px auto;
        display: block;
        width: 85px;
        border-bottom: 1px solid;
        text-align: center;
        content: ''; 
    }
}
.thin-header{
    color: #1a1a1a;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Lato';
    line-height: 50px;
    text-transform: none;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-bottom:30px; 
}
.section_h3{
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize!important;
    padding: 0;
    margin: 0;  
    color: #121212;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 110px;
    text-align: center;
    padding-right: 120px;
    padding-left: 120px;
}
.menu-section{
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    background: white;
    padding: 15px 0px;
    z-index: 999;
    .container{
        position: relative;
        .menu{
            img{
                padding: 10px 0;
            }
            ul{
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
                li{
                    cursor: pointer;
                    margin-left: 40px;
                    display: inline-block;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding: 15px 0;
                    font: {
                        size: 14px;
                        family:'Lato';
                        weight:400
                    }
                    line-height: 24px;
                    color: $menu_color;                    
                }
            }
        }
    }
}

.slider-section{
    margin-top: 80px;
    .container-fluid{
        .row{
            .slider{
                .one-slide{
                    .item{
                        position: relative;
                    }
                    .slider-content{
                        position: absolute;
                        top:30%;
                        h2{                           
                            padding-bottom: 20px;
                            font: {
                                family: 'Lato';
                                size: 16px;
                                weight: 700;
                            }                           
                            line-height: 42px;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: #333;
                            margin-top: 0;
                            margin-bottom: 45px;
                            display: inline-block;
                            &:after{
                                height: 1px;
                                display: block;
                                width: 30%;
                                background: black;
                                content: ''; 
                            }
                        }
                        h3{
                            font-size: 72px;
                            font-weight: 800;
                            text-transform: uppercase;
                            line-height: 80px;
                            color: #333;
                            margin-top: 0;
                            margin-bottom: 60px;
                        }                        
                    }
                }                
                .owl-dots{
                    position: absolute!important;
                    right: 0px!important;
                    top: 50%!important;
                    transform: translateY(-77%) rotateZ(90deg);
                    .owl-dot{
                        &:focus{
                            outline: 0px!important;
                        }
                        &:hover{
                            span{
                                background: $menu_active_color!important;
                            }
                        }
                    }
                    button{
                        span{
                            // background: $menu_active_color!important;                            
                            border-radius: 100%;
                            border: 5px solid grey;
                            box-sizing: unset;
                            &:hover{
                                background: $menu_active_color!important;                            
                            }
                        }
                    }
                }
                .active{
                    span{
                        background: $menu_active_color!important;                            
                    }          
                }
            }
        }
    }
}

.what_are_we{
    padding-top: 120px;
    padding-bottom: 90px;
    h2,h3,i,.headers,p,.fa-dashboard,.fa-rocket,.fa-trophy{
        text-align: center;
        width: 100%;
    }    
    .fa-dashboard,.fa-rocket,.fa-trophy{
        font-size: 48px; 
    }
    .fa-trophy{
        color: #4b0049;
    }
    .fa-rocket{
        color: #f7941d;
    }
    .fa-dashboard{
        color: #00aeef;
    }
    .headers{
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin-top: 28px;
        margin-bottom: 10px;  
        color: #444;
        margin: 25px 0;
    }
    p{
        padding-right: 20px;
        padding-left: 20px;
        font-weight: 400;
        margin-bottom: 25px;
        color: rgba(86,86,86,.8);
        padding: 0;
    }
    // h3{
    //     font-size: 18px;
    //     font-weight: 300;
    //     text-transform: capitalize!important;
    //     padding: 0;
    //     margin: 0;  
    //     color: #121212;
    //     line-height: 28px;
    //     letter-spacing: 1px;
    //     margin-bottom: 90px;
    // }
}

.about-me{
    background: $section_bk;
    padding: 120px 0px;
   em,p{
    margin: 0 0 10px;
    padding-right: 100px;
   }
   p{
       padding-top: 10px;
       margin-bottom: 67px;
   }
   img{
    padding-right: 70px;
   }
}

.services-section{
    padding-top: 120px;
    padding-bottom: 90px;
    .margin{
        margin-bottom: 50px;
    } 
    i{
        color: #404040;
        font-size: 36px;
        margin-top:-7px;
    }
    .headers{
        color: #404040;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 5px;
        // margin: 0 0 15px;
        // font-weight: 400;
        line-height: 24px;
    }
    .content{
        color: #646464;
        font-weight: 400;
        margin-bottom: 25px;
        padding: 0;
    }
}

.counter_section{
    padding-top: 120px;
    padding-bottom: 120px;
    background: url(../img/counter.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .counter, .counter-txt{
        text-align: center;
        width: 100%;
        color: white;
        
    }
    .counter{
        color: #ffffff;
        font-family: 'Lato' ;
        font-size: 72px;
        font-weight: 100;
        text-align: center;
        margin-bottom: 45px;
        line-height: 40px;
    }
    h4{
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 15px;
        font-family: 'Lato';
        font-weight: 700;
        line-height: 26px;
    }
}


.works{
    padding-top: 120px;
    a {
        overflow: hidden;
        text-decoration: none;
        width: 25%;
        float: left;
        position: relative;
        &:hover{
            i{
                opacity: 1;
                color: $menu_active_color;
                top: 50%;
            }
            .type{
                opacity: 1;
                bottom: 0;
            }
        }
        img{
            width: 100%;
            height: 330px;
            float: left;
        }
        .type{
            position: absolute;
            background: $menu_active_color;
            width: 100%;
            text-transform: uppercase;
            color: white;
            bottom: -20px;
            z-index: 1;
            opacity: 0;
            transition: .3s;
        }
        h3{
            padding: 19px;
            margin: 0;
        }
        i{            
            transition: .3s;
            font: {
                size: 25px;
            }
            position: absolute;
            z-index: 1;
            opacity: 0;
            left: 50%;
            top: 60%;
            transform: translate(-50%,-50%);
        }
    }
    
    .modal {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        display: none;
    }
    
    .modal .modal_inner {
        display: inline-block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .modal .modal_inner img {
        // width: 100%;
        // height: 100%;
        margin: auto;
    }
    
    .modal .modal_inner .close {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
    
    .modal .modal_inner .close:hover {
        opacity: 0.5;
    }
    
    .modal .modal_inner .left {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 42%;
        left: 5px;
        cursor: pointer;
    }
    
    .modal .modal_inner .right {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 42%;
        right: 5px;
        cursor: pointer;
    }
}

.why-us{
    padding-top: 120px;
    .content{
        font-size: 16px;
        padding-right: 40px;
        margin-bottom: 20px;
    }
    .type{
        color: #1a1a1a;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 15px;
        margin-top: 0px;
        line-height: 28px;
        padding-top: 50px;
    }
}

.team{
    background: $section_bk;
    padding-top: 120px;
    padding-bottom: 200px;
    .owl-dots{
        .owl-dot{
            &:focus{
                outline: 0px!important;
            }
            
        }
        button{
            span{
                // background: $menu_active_color!important;                            
                
            //    background:black!important;
               padding: 5px;
                box-sizing: unset;
                // &:hover{
                //     background: $menu_active_color!important;                            
                // }
            }
        }
        .active{
            span{
                background: black!important;                            
            }          
        }
    }
    .item{
        h3{
            margin-bottom: 0px;
            cursor: pointer;
            transition: 0.3s;
            a{
                color: #333333;
                &:hover{
                    color: $menu_active_color;
                }
            }
        }
        img{
            position: relative;
        }
        .icons{
            position: absolute;
            top: 0px;
            width: 100%;
            height: 84%;
            opacity: 0;
            transition: .3s;
            .center{
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: .3s;
                i{
                    color: #fff;
                    font-size: 16px;
                    margin: 0 12px;
                }
            }
        }
        &:hover{
            .icons{
                background: $menu_active_color;
                opacity: 0.7;
                .center{
                    top: 50%;
                }
            }
        }
        
    }
}

.clients{
    margin-top: 120px;
    margin-bottom: 120px;
    .col-md-2{
        width:20%!important;
    }
    .margin{
        margin-top: 80px;
    }
    .clients-slide{
        .owl-dots{
            display: none!important;
        }
    }
    .owl-next,.owl-prev{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px!important;
        color: #e1e1e1!important;
        &:hover{
            background: transparent!important;
            outline: 0px!important;  
        }
        
    }
    .owl-next{
        right: 0px;
    }
    .owl-prev{
        left: 0px;
    }
    .item{
        position: relative;
        .content{
            text-align: center;
            width: 60%;
            margin: auto;   
            div{
                margin-top: 50px;
                font-size: 21px;
                font-style: italic;
                font-weight: 400;
                line-height: 28px;
                font-family: 'Raleway';
                color: #999;
            }
            h3{
                margin-top: 40px;
                margin-bottom: 0;
                font-size: 18px;
                color: #000;
                text-transform: uppercase;
                font-family: 'Lato';
                font-weight: 700;
                line-height: 28px;
            }
            img{
                width: 120px!important;
                display: inline-block;
                padding: auto;
                border-radius: 50%;
            }
            .profession{
                margin-top:0px; 
                font-size: 14px;
                color: rgb(128,128,128);
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 35px;
            }
            i{
                font-size: 30px;
                font-family: "FontAwesome";
                color: rgb(0, 174, 239);
                text-transform: uppercase;
            }
        }
    }
}

.get-start{
    background: url(../img/get-start.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    h2{
        color: #ffffff;
        font-size: 48px;
        line-height: 42px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 20px;
        font-family: 'Lato'
    }
    div{
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .button{
        color: white;
        background: transparent;
        border-color:white;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-radius: 2px 2px 2px 2px;
        padding: 15px 50px 15px 50px;
        transition: .3s;
        &:hover{
            background: $menu_active_color;
            border-color:$menu_active_color; 
        }
    }
}

input, textarea{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, .15);
    padding: 10px;
    border-radius: 4px;
}

.contact{
    padding-top: 120px;
    padding-bottom: 120px;
 
   input{
    width: 46%;    
   }
   textarea{
    width: 95.5%;
   }
   .button{
    margin-right: 20px;
    float: right;
   }
}

.map{
    position: relative;
    iframe{ 
        width: 100%;
        height: 650px;
    }
    .contact-info{
        position: absolute;
        top: 18%;
        left: 15%;
        background: white;
        padding: 60px 70px;
        z-index: 1;
        .contact-map{
            padding: 20px inherit;
            strong{
                text-transform: uppercase;
                &:after{
                    margin: 5px 0;
                    margin-bottom:10px; 
                    display: block;
                    width: 25px;
                    border-bottom: 1px solid;
                    text-align: left;
                    content: ''; 
                }
            }
        }
    }
}

.footer-wrapper{
    padding-bottom: 80px;
    padding-top: 100px;
    background: #1f1f1f;
    text-align: center;
    h3{
        color: white;
        font-size: 20px;
        margin-bottom: 80px;
    }
    input{
        width: 50%;
        background: #191919;
    }
    .input{
        width: 100%;
    }
    .button{
        width: 100%;
        padding: 15px 40px;
    }
}

.footer{

    background:#1f1f1f;
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-left:-30px; 
        li{
            padding-bottom: 40px;
            padding-top: 40px;
            color: white;
            i{
                padding: 10px;
                color: $menu_active_color;
                cursor: pointer;
            }
        }
    }
    .line{
        height: 1px;
        background: #474747!important;
    }
}